.normalMyList{
    padding-top: 1em;
    border:solid 1px #EAEAEA;
    border-radius: 8px;
}

.normalMyList:hover{
    background-color: #F7F7F7;
}

.noneDecoration:hover{
    text-decoration: none !important;
}

.expiredMyList{
    padding-top: 1em;
    border:solid 1px #FFD1D1;
    border-radius: 8px;
}

.expiredMyList:hover{
    background-color: #FFE8E8;
}

.mylistlink:hover{
   color: #686868;
}

.mylistlink{
   color: #7F7F7F;
}

.btnSuppr{
    background-color: #F7584C;
    border-color: #F7584C;
}

.btnSuppr:hover{
    background-color: #F42718 !important;
    border-color: #F42718 !important;
}

.listItem{

}

.itemInList{

}

.reserv{
    background-color: #d3d9df;
}

img {
    max-width: 100%;
}